@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #1c1b20;
  color: #ffffff;
  font-family: "Catamaran", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-i-header.is-open .t-i-header-background {
  left: 0;
}
.t-i-header-button-wrapper {
  margin-left: auto;
}
.t-i-header-icon {
  display: none;
}

.t-i-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-i-navigation-list.is-open {
  right: 0;
}
.t-i-header-icon-menu {
  display: block;
}

.t-i-header-icon-button.is-open .t-i-header-icon-menu {
  display: none;
}

.t-i-header-icon-button.is-open .t-i-header-icon-close {
  display: block;
}

.t-i-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #1c1b20;
}

.t-i-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #1c1b20;
}
.t-i-header.is-open .t-i-header-background {
  left: 0;
}
.t-i-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-i-header-icon-menu {
  display: block;
}

.t-i-header-icon-button.is-open .t-i-header-icon-menu {
  display: none;
}

.t-i-header-icon-button.is-open .t-i-header-icon-close {
  display: block;
}

.t-i-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px;
  position: relative;
}

.t-i-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 26px;
  background: #1c1b20;

  border-radius: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
}

.t-i-navigation-list.is-open {
  right: 0;
}

.t-i-navigation-link {
  font-family: Catamaran;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
}

.t-i-navigation-link:hover,
.t-i-navigatioт-link:focus {
  color: #fcf939;
}

.t-i-header.is-open {
  background-color: transparent;
}

.t-i-navigation-img {
  display: none;
}

@media screen and (min-width: 1194px) {
  .t-i-navigation-img {
    display: flex;
    margin-right: 52px;
  }
  .t-i-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-i-header {
    width: 100%;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .t-i-header-background {
  }
  .t-i-header-icon-button {
    display: none;
  }
  .t-i-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-i-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 22px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-i-navigation-link {
    font-family: Catamaran;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .t-i-navigation-item-desk {
    display: none;
  }
}
.t-i-home {
  width: 375px;
  height: 812px;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}
.t-i-home-container {
  width: 375px;
  padding: 127px 16px 0px;
  margin: auto;
}

.t-i-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.t-i-home-title {
  font-family: Catamaran;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #fcf939;
}

.t-i-home-text {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 40px;
}

@media screen and (min-width: 1194px) {
  .t-i-home {
    width: 1440px;
    height: 720px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }
  .t-i-home-container {
    width: 1440px;
    padding: 120px 160px 0px;
  }

  .t-i-home-title {
    width: 698px;
    font-family: Catamaran;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .t-i-home-text {
    font-family: Catamaran;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 40px;
    width: 736px;
  }
}
.t-i-about {
  margin: auto;
  width: 375px;
  height: 926px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ Game.png");
}
.t-i-about-container {
  width: 375px;
  padding: 80px 16px 0px;
  margin: auto;
}
.t-i-about-title {
  font-family: Catamaran;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;

  color: #fcf939;
}
.t-i-about-title-text {
  font-family: Catamaran;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  padding-top: 16px;
}
.t-i-about-title-text-two {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 40px;
}

@media screen and (min-width: 1194px) {
  .t-i-about {
    width: 1440px;
    height: 553px;
    background-image: url("/img/About\ the\ Game\ \(1\).png");
  }
  .t-i-about-container {
    width: 1440px;
    padding: 80px 726px 0 160px;
  }
  .t-i-about-title {
    font-family: Catamaran;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .t-i-about-title-text {
    font-family: Catamaran;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .t-i-about-title-text-two {
    font-family: Catamaran;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-i-about-text {
    width: 544px;
  }
}

.t-i-why-container {
  width: 375px;

  margin: auto;
  padding: 80px 16px;
}

.t-i-why-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/Feature\ Icons.png");
  width: 340px;
  height: 2118px;
  margin: 24px auto 0;
  gap: 160px;
  padding-top: 70px;
}
.t-i-why-list-item {
  width: 154px;
  height: 108px;
  font-family: Catamaran;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #1c1b20;
}
.t-i-why-list-item-two {
  margin-top: -20px;
}
.t-i-why-list-item-three {
  margin-top: -26px;
}
@media screen and (min-width: 1194px) {
  .t-i-why-container {
    width: 1440px;

    padding: 80px 160px;
  }
  .t-i-why-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    padding-left: 92px;
    background-image: url("/img/Features\ Images.png");
    width: 1120px;
    height: 600px;
    margin: 45px auto 0;
    gap: 114px;
    row-gap: 21px;
    padding-top: 110px;
  }
  .t-i-why-list-item {
    width: 154px;
    height: 120px;
    margin: 0;
    font-family: Catamaran;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-i-why-list-item-two {
    margin-top: 0px;
  }
  .t-i-why-list-item-three {
    margin-top: 0px;
  }
  .t-i-why-list-item-q {
    width: 138px;
    height: 120px;
  }
  .t-i-why-list-item-qs {
    margin-left: 8px;
  }
}

.t-i-uniqueness {
  margin: auto;
  width: 375px;
  height: 806px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Difficulty\ Levels.png");
}
.t-i-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}

@media screen and (min-width: 1194px) {
  .t-i-uniqueness {
    width: 1440px;
    height: 537px;
    background-image: url("/img/Difficulty\ Levels\ \(1\).png");
  }
  .t-i-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 736px 0 160px;
  }
}
.t-i-how {
  margin: auto;
  width: 375px;
  height: 797px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Personalization\ &\ Custom\ Puzzles.png");
}
.t-i-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}

@media screen and (min-width: 1194px) {
  .t-i-how {
    width: 1440px;
    height: 472px;
    background-image: url("/img/Personalization\ &\ Custom\ Puzzles\ \(1\).png");
  }
  .t-i-how-container {
    margin: auto;
    width: 1440px;
    height: 472px;
    padding: 80px 160px;
  }
  .t-i-how-text-bold {
    width: 544px;
  }
}

.t-i-characters {
  margin: auto;
  width: 375px;
  height: 873px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Achievements\ &\ Goals.png");
}
.t-i-characters-container {
  padding: 80px 16px;
  margin: auto;
  width: 375px;
}
@media screen and (min-width: 1194px) {
  .t-i-characters {
    width: 1440px;
    height: 499px;
    background-image: url("/img/Achievements\ &\ Goals\ \(1\).png");
  }
  .t-i-characters-container {
    padding: 80px 736px 0 160px;
    margin: auto;
    width: 1440px;
  }
}

.t-i-reviews-container {
  margin: auto;
  padding: 80px 16px;
  width: 375px;
}
.t-i-reviews-list {
  padding-top: 40px;
}

.t-i-reviews-item {
  width: 327px;
  height: 235px;

  margin: 0 8px;
}
.t-i-reviews-text-bold {
  font-family: Catamaran;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #fcf939;
}
.t-i-reviews-text {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1194px) {
  .t-i-reviews-container {
    width: 1440px;

    margin: auto;
    padding: 80px 160px;
    width: 1440px;
  }
  .t-i-reviews-list {
    padding-top: 40px;
  }

  .t-i-reviews-item {
    width: 832px;
    height: 237px;
    padding: 28px 96px;

    background-image: url("/img/Review\ Background.png");
    margin: 0 -16px;
  }
  .t-i-reviews-itemptwo {
    width: 832px;
    height: 237px;
    padding: 28px 96px;

    background-image: url("/img/Review\ Background\ \(2\).png");
  }
  .t-i-reviews-text-bold {
    font-family: Catamaran;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    color: #fcf939;
  }
  .t-i-reviews-text {
    font-family: Catamaran;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}

.t-i-faq {
  margin: auto;
  width: 375px;
  height: 792px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/Offline\ Play.png");
}
.t-i-faq-container {
  padding: 80px 16px 0px;
  width: 375px;
  margin: auto;
}
@media screen and (min-width: 1194px) {
  .t-i-faq {
    width: 1440px;
    height: 472px;
    background-image: url("/img/Offline\ Play\ \(1\).png");
  }
  .t-i-faq-container {
    padding: 80px 156px 0 736px;
    width: 1440px;
    margin: auto;
  }
}

.t-i-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}

.t-i-gallery-list {
  padding-top: 40px;
}
.t-i-gallery-item {
  width: 216px;
  height: 384px;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.t-i-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1194px) {
  .t-i-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px 160px;
  }

  .t-i-gallery-item {
    margin: 0 5px;
  }
}

.t-i-new-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
  height: 716px;
  background-image: url("/img/Daily\ Free\ Puzzle.png");
}

@media screen and (min-width: 1194px) {
  .t-i-new-container {
    width: 1440px;
    margin: auto;
    padding: 80px 160px 0 736px;
    height: 445px;
    background-image: url("/img/Daily\ Free\ Puzzle\ \(1\).png");
  }
}

.t-i-contact-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}

.t-i-contact-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 16px;
}
.t-i-contact-item {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}
.t-i-contact-div-img {
  display: flex;
  gap: 24px;
}
.t-i-contactq {
  font-family: Catamaran;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 24px;
}
.t-i-contactw {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #848484;
}
.t-i-contacte {
  font-family: Catamaran;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1194px) {
  .t-i-contact-container {
    width: 1440px;
    padding: 80px 160px;
  }

  .t-i-contact-item {
    font-family: Catamaran;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-i-contactq {
    font-family: Catamaran;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 24px;
  }
  .t-i-contactw {
    font-family: Catamaran;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-i-contacte {
    font-family: Catamaran;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.t-i-policy-terms-container {
  background: #ffffff;
  color: #000000;
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-i-policy-terms-container h1 {
  margin-bottom: 30px;
  font-family: Catamaran;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
}
.t-i-policy-terms-container h2 {
  margin-bottom: 20px;
  font-family: Catamaran;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.t-i-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}
.t-i-policy-terms-container p {
  margin-bottom: 20px;
}
.t-i-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1194px) {
  .t-i-policy-terms-container {
    padding: 160px 160px 80px;
    width: 1440px;
    font-family: Catamaran;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-i-policy-terms-container h1 {
    font-family: Catamaran;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .t-i-policy-terms-container h2 {
    font-family: Catamaran;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.t-i-footer-container {
  width: 375px;
  background: #1c1b20;

  color: #ffffff;
  padding: 40px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.t-i-footer-container-two {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.t-i-footer-text-one {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.t-i-footer-div-img {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  gap: 62px;
}
.t-i-footer-img {
  width: 32px;
  height: 32px;
}
.t-i-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.t-i-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Catamaran;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.t-i-footer-copyright {
  font-family: Catamaran;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1194px) {
  .t-i-footer-container {
    width: 1440px;
    padding: 40px 160px;
  }

  .t-i-footer-container-two {
    display: flex;
    flex-direction: row-reverse;
    gap: 757px;
  }

  .t-i-footer-text-one {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .t-i-footer-div-img {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .t-i-footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  .t-i-footer-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-i-footer-copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-i-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 343px;
  padding: 32px;
  border-radius: 24px;
  background: #1c1b20;

  z-index: 1000;
  display: none;
}

.t-i-cookie-popup-text-two {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #ffffff;
}

.t-i-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.t-i-cookie-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 256px;
  border-radius: 28px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.t-i-cookie-button:hover {
  border: 1px solid #fcf939;
  color: #fcf939;
}
#accept-cookies {
  background: #ffffff;

  color: #1c1b20;
  border: none;
}
#accept-cookies:hover {
  background: #fcf939;

  color: #1c1b20;
}
.t-i-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1194px) {
  .t-i-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .t-i-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
  }

  .t-i-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .t-i-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;
    padding: 32px;
    display: none;
  }
}
